#bright { background-color: #66AADD; }
#overcast {background-color: #AAAAAA; }
#night { background-color: #334477; }

.section h1{
text-align: center;
font-size: medium;
}

div.section {
width: 40%; height: 40%;
background-color: #DDDDDD;
opacity: 0.7;
border-radius: 10%;
padding-top: 1%;
padding-bottom: 1%;
position: absolute;
overflow: hidden;
}

.section p{
padding-left: 5%;
}

p.rainfalltoday{
text-align:right;
margin-right: 5%;
}

span.rainfalltoday{
font-size: xx-large;
}

.section#precipitation{
margin-left: 5%;
margin-top: 3%;
}
.section#temperature{
margin-left: 53.5%;
margin-top: 3%;
}
.section#wind{
margin-left: 5%;
margin-top: 52%;
}
.section#pressurehumidity{
margin-left: 53.5%;
margin-top: 52%;
}

div#humidity{
width: 100%; height: 45%;
margin:5px;
}

div#pressure{
padding-top:0;margin-top:0;
width:100%; height:100%;
}

div#humidity h2, div#pressure h2{
font-size: medium;
margin-left: 5%;
}

#sun, #overcastsun, #moon{position: fixed;border-radius: 50%;width: 30%; 
padding-top:30%;opacity: 0.9; margin-left: 34.5%; margin-top: 28%;
}

#sun{background-color: #F2EE00; }
#overcastsun{background-color: #EEEEEE; opacity: 0.4;}
#moon{background-color: #F9F9F9; opacity: 0.4;}

#norain, #lightrain, #heavyrain{
margin-top: 2%;
margin-right: 1%;
font-size: xx-large; 
}

#norain{
font-color:rgb(0,40,0);
}

.statslink{
position: static;
text-style: none;
font-size: large;
text-align: right;
margin-left: 80%;
margin-top: 80%;
}

#currenttemp, #currentws{font-size: 500%;}
#degrees, #unit{font-size: 200%; margin-left: 2%; vertical-align: 100%;}

.barchart{
width: 90%; height: 50%; border-style: solid; border-width: 1px; border-color: #000000;
margin-left: 5%; 
}
.bar{
width: 1%;
}
.bar#0, .bar#2, .bar#4, .bar#6, .bar#8{background-color: #999999;}
.bar#1, .bar#3, .bar#5, .bar#7, .bar#9{background-color: #CCCCCC;}

.temp, .wind{display:inline-block; margin-left: 5%; width:40%;}
