{% extends "other-pages.html" %}
<!--(Ref 1), logic that changes background colour with respect to light levels -->
{% block light %}
{% if lightlevel < 2.2 %}
<body id='night'>
<div class='page' id='night'>
<div id=moon>
{% elif lightlevel <  3 %}
<body id='overcast'>
<div class='page' id='overcast'>
<div id=overcastsun>
{% else %}
<body id='bright'>
<div class='page' id='bright'>
<div id=sun>
{% endif %} 
{% endblock %}

{% block child %}
<div id='aboutbox'>
<div id='abouthead'>Pi IN THE SKY: The About Page</div>
<h2><h2 style="text-align:center;">   AN EXCITING NEW SECONDARY STEM PROJECT USING RASPBERRY PI TO CREATE A WEATHER STATION</h2>


<div id='aboutt'><p id='abouttext'>

<pre>

Pi in the Sky is deliberatley open ended.  This guide gives you a good starting point to get a weather station up and running. We hope you will:
<ul>
	<li>Get a basic weather station up and running quickly, adding snsors to measure new types of data as time goes on.</li>
	<li>Record lots of data.</li>
	<li>Analyse the data, make predictions and hypotheses.</li>
</ul> 

</pre></p>
</div>

</div>
{% endblock %}


	