{% extends "other-pages.html" %}
<!--(Ref 1), logic that changes background colour with respect to light levels -->
{% block light %}
{% if lightlevel < 2.2 %}
<body id='night'>
<div class='page' id='night'>
<div id=moon>
{% elif lightlevel <  3 %}
<body id='overcast'>
<div class='page' id='overcast'>
<div id=overcastsun>
{% else %}
<body id='bright'>
<div class='page' id='bright'>
<div id=sun>
{% endif %} 
{% endblock %}

{% block child %}
<div id='helpbox'>
<div id='abouthead'>Pi IN THE SKY: The Help Page</div>
<h2><h2 style="text-align:center;">   AN EXCITING NEW SECONDARY STEM PROJECT USING RASPBERRY PI TO CREATE A WEATHER STATION</h2>

<div id='helpt'><p id='helptext'>

<h5>Python Tutorials</h5>

<pre>
There are plently of excellent Python guides availiable online.  We won't attempt a general introduction to Python here but instead list 
some tutorilas, split by whether you are new to programming or an expierenced programmer new to Python.
</pre>

<h5>Python Tutorials for beginners</h5>
<ul>
	<li>http://docs.python.org/2/tutorial -the offical Python tutorial</li>
	<li>http://www.learnpython.org -interactive if slightly over-prescriptive tutorial</li>
	<li>http://learnpythonthehardway.org -unique but detailed guide</li>
	<li>http://www.codeacademy.com/tracks/python -interactive tutorial-learn to program Python from any web browser</li>
	<li>http://rexx.com/~dkuhlman/python_101/python_101.html -Brief introduction to Python</li>
</ul>
<h5>Python Tutorials for experienced programmers new to Python: </h5>
<ul>
	<li>http://docs.python.org/2 -the offical Python documentation</li>
	<li>http://developers.google.com/edu/python -Google guide to Python-tutorials</li>
	<li>http://stackoverflow.com/questions/tagged/python -Python questions on an excellent programming questions and answer site</li>
</ul>

<h3><h3 style="text-align:center;" id="h3">Help!!!</h3>
<pre style="text-align:center;"> Raspberry Pi is a very popular computer and there is a lot of information on the internet.
Chances are someone will have run into the exact same problem you have. 

If you need any help or advice on any aspect of the project feel free to contact:

Benjie Marwick Johnstone
bmarwickjohnstone@scdi.org.uk (preferred)
07788 970 751
</pre>

<script>
document.getElementbyId("p2").style.color = "blue";
document.getElementbyId("p2").style.fontFamily = "Arial";
</script> 

</p>
</div>

</div>
{% endblock %}

