<!doctype html>
<html>
<title>Help</title>
<head>
<meta name="viewport" content="device-width, maximum-scale=1">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='weather.css')}}">
</head>
<body>
{% block light %}
{% endblock %}

	<div class='hi'>
	<p id='str'> The date is: {{ date }}</p>
	<p id='str'> The time is: {{ time }}</p>
	</div>
	
	<div id='mainbar'>
		<div id='darkgreybar'></div>
		<a href="/"><div id='logo'></div></a>

		<a href="about" id='webpages'><div id='B1'>
		<p id='Btext'>About</p>
		<div id='glowbar1'></div>
		</div></a>

		<a href="next-steps" id='webpages'><div id='B2'>
		<p id='Btext'>Next Steps</p>
		<div id='glowbar1'></div>
		</div></a>

		<a href="help" id='webpages'><div id='B3'>
		<p id='Btext'>Help</p>
		<div id='glowbar1'></div>
		</div></a>
	</div>


{% block child %}
{% endblock %}